.about_us{
    margin-top: 128px;
    padding: 133px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), 
    url(../images/about_us_bg.jpg) lightgray 50% / cover no-repeat;

    @media #{$smallTab}{
        padding: 125px 0;
    }

    @media #{$mobile}{
        margin-top: 40px;
    }

    .about_us_block{
      
        
        .info{
            display: flex;
            flex-direction: column;
            gap:16px 0;
            align-items: center;

            .title{
                line-height: 120%; /* 76.8px */
                text-transform: uppercase;
                font-size: 44px;

                @media #{$smallTab}{
                    font-size: 24px;
                }
            }

            .sub_title{
                font-weight: 500;
                line-height: 120%; /* 28.8px */
                font-size: 24px;
                text-align: center;
                max-width: 1136px;

                @media #{$smallTab}{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}