.application{
   margin-top: 16px;

    .application_row{
        display: flex;
        flex-direction: column;
        gap:40px 0;
        padding: 92px 40px;
        border-radius:  8px;
        background-image:  linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0.55%, #F0F3F0 43.55%),  url(../images/application_bg.jpg);
        background-position: 0 0,  938.167px -72.856px;
        background-size: auto, 43.294% 117.908%;
        background-repeat: no-repeat,  no-repeat;
        background-color: rgba(101, 122, 100, 0.10);
        position: relative;

        @media #{$laptop}{
            background-size: auto;
            background-position: right bottom;
        }

        @media #{$mobile}{
            padding: 40px 16px 310px 16px ;
            gap:35px 0;
            background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0.55%, #F0F3F0 63.55%),url(../images/application_bg_mobile.jpg);
            background-position: -246.834px 228.497px;
            background-size: 197.839% 66.043%;
            background-repeat: no-repeat;
        }

        &::after{
            content: '';
            width: 427px;
            height: 100%;
            background-image: url(../images/application_person.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            position: absolute;
            right: 76px;
            top: 0;

             @media #{$bigTab}{
                right: -83px;
            }

            @media #{$tab}{
                display: none;
            }

            @media #{$mobile}{
                height: 303px;
                display: inline-block;
                left: 50%;
                transform: translateX(-40%);
                bottom: 0;
                width: 313px;
                top: auto;
                background-size: contain;
                background-position: center bottom;
            }
        }

        .title{
            color:  #00001A;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;

            @media #{$mobile}{
                font-size: 28px;
            }

            span{
                color: #657A64;
                font-size: 44px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 52.8px */
                text-transform: uppercase;

                @media #{$mobile}{
                    font-size: 28px;
                }
            }
        }

        form{
            max-width: 593px;
            width: 100%;
            .input_row{
                display: flex;
                gap:8px;
                align-items: center;

                @media #{$mobile}{
                   flex-wrap: wrap;
                }

                .input_container{
                    width: calc(50% - 4px);
                    height: 56px;
                    position: relative;

                    @media #{$mobile}{
                        width: 100%;
                    }

                    &::after{
                        content: '';
                        width: 24px;
                        height: 24px;
                        background-image: url(../images/input_phone.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 10;
                    }
                    input{
                        border: none;
                        width: 100%;
                        height: 100%;
                        padding: 16px 8px 16px 48px;
                        border-radius:  4px;
                        border-bottom: 1px solid #E8E8E8;
                        background:  #FAFDFC;
                        box-shadow: none;
                        
                        &:focus{
                            box-shadow: none;
                            border: none;
                            outline: none;
                        }
                    }
                }

                

                button{
                    width: calc(50% - 4px);
                    border: none;
                    height: 56px;
                    display: flex;
                    gap:0 8px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    background: #657A64;
                    /* Тень/2 */
                    box-shadow: 0px 24px 24px -16px rgba(15, 15, 15, 0.20);

                    @media #{$mobile}{
                        width: 100%;
                        height: 40px;
                    }

                    span{
                        /* Кнопки/Текст кнопки L */
                        font-family: "Montserrat", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; /* 150% */
                        text-transform: uppercase;
                        color: #fff;

                        @media #{$mobile}{
                            font-size: 14px;
                        }
                    }
                }

                
            }

            /* confirm */
            .confirm {
                margin-top: 16px;
                display: flex;
                width: 100%;
                align-items: center;
                gap: 10px;
                font-size: 14px;

                @media #{$mobile}{
                    margin-top: 24px;
                    height: 20px;
                }
            }

            /* Hide the default checkbox */
            .custom-checkbox input[type="checkbox"] {
                display: none;
            }

            /* Create a custom checkmark */
            .custom-checkbox .checkmark {
                width: 18px;
                height: 18px;
                border: 2px solid #0C4639;
                border-radius: 2px;
                display: inline-block;
                position: relative;
                cursor: pointer;
                background:  #0C4639;
            }

            /* Show a checkmark when checked */
            .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
                content: "";
                position: absolute;
                left: 4px;
                top: 0px;
                width: 5px;
                height: 10px;
                border:  solid #fff;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                 border-radius: 1px; /* ✅ Smoothens sharp edges */
            }

            /* Style for the label text */
            .confirm .text {
                cursor: pointer;
                user-select: none;
                font-family: "Inter", sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 150%; /* 16.5px */
                color: #223;

                @media #{$mobile}{
                    font-size: 10px;
                }
            }

            /* Style for the link */
            .confirm .text a {
                color: blue;
                text-decoration: underline;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 150%; /* 16.5px */
                color: #223;
                text-decoration: underline;

                @media #{$mobile}{
                    font-size: 10px;
                }
            }
        }
    }
}