.contact{
    margin-top: 56px;
    .contact_row{
        display: flex;
        gap:36px 24px;

        @media #{$tab}{
            flex-direction: column;
        }

        .left{
            padding-top: 40px;
            width: calc(50% - 12px);
            .section_title{
                margin-bottom: 16px;
            }

            @media #{$bigTab}{
                padding-top: 0;
            }

            @media #{$tab}{
                width: 100%;
            }

            .sub_title{
                font-family: "Inter", sans-serif;
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 30px */

                @media #{$mobile}{
                    font-size: 16px;
                }
                
            }

            .contact_item_row{
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                gap:24px 0;
                flex-wrap: wrap;

                @media #{$mobile}{
                    margin-top: 24px;
                    gap:16px 0;
                }

                .contact_item{
                    width: calc(50% - 12px);
                    padding: 40px 24px;
                    border-radius: 4px;
                    border: 1px solid  #E5E5E5;
                    background: #FFF;
                    display: flex;
                    flex-direction: column;
                    gap:16px 0;

                    @media #{$tab}{
                        width: 100%;
                    }

                    @media #{$mobile}{
                       padding: 16px;
                    }

                    .top{
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .info{
                        display: flex;
                        flex-direction: column;
                        gap:8px 0;

                        .link{
                            color: #657A64;
                            font-size:  24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%; /* 28.8px */
                            text-transform: uppercase;

                            @media #{$mobile}{
                                font-size: 18px
                            }
                        }

                        .label{
                            color: var(---, #000);
                            /* Текстовые стили/Обычный */
                            font-family: "Open Sans", sans-serif;
                            font-size: var(---, 16px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */

                            @media #{$mobile}{
                                font-size: 14px;
                            }
                        }

                        .text{
                            color:  #141414;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%; /* 28.8px */

                            @media #{$mobile}{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .right{
            width: calc(50% - 12px);
            height: 765px;


            @media #{$laptop}{
                height: auto;
            }

            @media #{$tab}{
                width: 100%;
                height: 400px;
            }

            @media #{$mobile}{
                height: 300px;
            }
          

             #map {
                width: 100%;
                height: 100%;

                
            }
        }
    }
}