.objects{
    margin-top: 128px;

    @media #{$smallTab}{
        margin-top: 40px;
    }

    .objects_row{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        gap:24px 0;
        flex-wrap: wrap;

        .object_item{
            width: calc(50% - 12px);
            display: none;
            flex-direction: column;
            gap:8px 0;
            padding-bottom: 16px;

            @media #{$smallTab}{
                width: 100%;
            }

            .top{
                img{
                    border-radius: 4px;
                    width: 100%;
                    height: auto;
                }
            }

            .bottom{
                display: flex;
                flex-direction: column;
                gap:8px 0;
                padding: 0 16px;

                @media #{$mobile}{
                    gap:4px 0;
                }

                .title{
                    font-weight: 500;
                    line-height: 120%; /* 24px */
                    font-size: 20px;
                    color: #000;

                    @media #{$mobile}{
                        font-size: 16px;
                    }
                }

                .description{
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    font-size: 16px;
                    color: #28323C;

                    @media #{$mobile}{
                        font-size: 14px;
                    }
                }

                .price{
                    color: #657A64;
                    font-weight: 500;
                    line-height: 120%; /* 24px */
                    font-size: 20px;

                    @media #{$mobile}{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}